<!-- <p>Find me in app/views/static_pages/contact.html.erb</p> -->

<section class="container anchor" id="contact">

  <header class="contact-header">
    <h1>Contact</h1>
  </header><!--End of contact-header-->


  <div class="row">
    <!--Address-->
    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 ">
      <div class="address">
        <h3>Contact details</h3>
        <p class="address-details">
          <span class="glyphicon glyphicon-envelope"></span> &thinsp; example [at] berlin.com
          <br>
          <span class="glyphicon glyphicon-earphone"></span> &thinsp; +49 (0)30 1234 5678
          <br>
          <a href="https://www.google.gr/maps/place/Brandenburg+Gate/@52.5162746,13.377704,15z/data=!4m5!3m4!1s0x0:0x26bbfb4e84674c63!8m2!3d52.5162746!4d13.377704"><span class="glyphicon glyphicon glyphicon-map-marker"></span> &thinsp; Brandenburger Gate</a>
          <br>&thinsp;Pariser Platz
          <br>&thinsp;10117 Berlin
          <br>&thinsp;Germany
        </p>
      </div><!-- /address -->
      <!-- Image -->
      <!-- <%= image_tag("contact.jpg", class: "contact-img img-responsive")%> -->
    </div><!-- /col -->

    <!-- Contact form -->
    <%= flash[:notice] %>
    <%= form_tag("/static_pages/thank_you") do %>
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        <div class="form">
          <h3>Contact form</h3>
          <br>
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, class:"form-control", placeholder:"Enter Name", required:"true" %>
          </div>
          <div class="form-group">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class:"form-control", placeholder:"Enter Email", required:"true" %>
          </div>
          <div class="form-group">
            <%= label_tag :message %>
            <%= text_area_tag :message, nil, class:"form-control message-box", placeholder:"Enter Message", required:"true" %>
          </div>
          <%= submit_tag "Send", class: "btn btn-primary" %>
          <br>

        </div><!-- /form -->
      </div><!-- /col -->
    <% end %>

  </div>

</section><!--End of section CONTACT-->
