<% cache product do %>

  <div class="col-sm-12 col-md-4">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <h2><%= product.name %></h2>
    <h3><%= number_to_currency(product.price, unit:"€") %></h3>
    <p><%= product.colour %></p>
    <p><%= product.description %></p>

    <!-- Debbugging Test. Using the debbuger I am able to distinguish each step in the terminal logs -->
    <% logger.debug "******************************* PRODUCT:#{product.name}"%>

    <p>
      <!-- OPtion Show product available for all users -->
      <%= link_to 'Show', product, class:"btn btn-default"%>
      <%= link_to 'Edit', edit_product_path(product), class:"btn btn-default" %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"%>
    </p>

  </div>

<% end %><!-- /cache -->
