<div class="list-of-comments">
  <!-- Highest Rating Comment.
  see the scope in models/product.rb > scope :rating_desc, -> {order(rating: :desc)}
  and the method highest_rating_comment defined inside the models/comment.rb
  -->
  <div class="col-sm-12 col-md-4">

    <!-- highest rating review -->
    <% if @product.highest_rating_comment %>
      <h2> Highest Rating Review </h2>
      <p>
        &nbsp;
        <!-- review body -->
        <blockquote>
          <p><%= @product.highest_rating_comment.body%></p>
          <br>
          <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
        </blockquote>
      </p>
      <br>
    <% end %><!-- /if -->

    <!-- lowest rating review -->
    <% if @product.lowest_rating_comment %>
      <h2> Lowest Rating Review </h2>
      <p>
        &nbsp;
        <!-- review body -->
        <blockquote>
          <p><%= @product.lowest_rating_comment.body %></p>
          <br>
          <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
        </blockquote>
      </p>
      <br>
    <% end %><!-- /if -->

  </div><!-- /col -->

  <div class="col-sm-12 col-md-4">
    <h2> All the Reviews </h2>
    <% @comments.each do |comment| %>
      <div class="product-reviews">

        <br>
        <strong><%= comment.user.first_name %></strong>
        <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
        <!-- space -->
        &nbsp;

        <!-- destroy with admin conditional -->
        <% if signed_in? && current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <!-- review body -->
        <blockquote>
          <p><%= comment.body %></p>
          <br>
          <div class="rated" data-score="<%= comment.rating %>"></div>
        </blockquote>

      </div><!-- /product-reviews -->
    <% end %><!-- loop -->

    <!-- pagination -->
    <div class="pagination">
      <%= will_paginate @comments %>
    </div>

  </div><!-- /col -->

</div><!-- /list-of-comments -->
