<div class="list-of-comments">
  <br>
  <br>
  <!-- Highest Rating Comment.
  see the scope in models/product.rb > scope :rating_desc, -> {order(rating: :desc)}
  and the method highest_rating_comment defined inside the models/comment.rb
  -->
  <h3> Highest rating </h3>
  <p>
    <%= @product.highest_rating_comment.body%>
    <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
  </p>
  <br>

  <h3> Lowest rating </h3>
  <p>
    <%= @product.lowest_rating_comment.body %>
    <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
  </p>
  <br>
  <br>

  <h3> Read all the reviews </h3>
  <br>
  <% @comments.each do |comment| %>
    <div class="product-review">
      <br>
      <strong><%= comment.user.first_name %></strong>
      <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
      <!-- space -->
      &nbsp;
      <!-- Destroy with admin conditional -->
      <% if signed_in? && current_user.admin? %>
      <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <!-- Review Core -->
      <blockquote>
        <p><%= comment.body %></p>
        <br>
        <div class="rated" data-score="<%= comment.rating %>"></div>
      </blockquote>

    </div>
  <% end %>
  <!-- View for pagination -->
  <%= will_paginate @comments %>

</div>
