<div class="list-of-comments">

  <!-- Highest Rating Comment.
  see the scope in models/product.rb > scope :rating_desc, -> {order(rating: :desc)}
  and the method highest_rating_comment defined inside the models/comment.rb
  -->
  <div class="col-sm-12 col-md-4">

    <% if @product.highest_rating_comment %>
      <h3> Highest Rating Review </h3>
      <p>
        <!-- space -->
        &nbsp;
        <!-- Review Core -->
        <blockquote>
          <p><%= @product.highest_rating_comment.body%></p>
          <br>
          <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
        </blockquote>
      </p>
      <br>
    <% end %>

    <% if @product.lowest_rating_comment %>
      <h3> Lowest Rating Review </h3>
      <p>
        <!-- space -->
        &nbsp;
        <!-- Review Core -->
        <blockquote>
          <p><%= @product.lowest_rating_comment.body %></p>
          <br>
          <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
        </blockquote>
      </p>
      <br>
    <% end %>

  </div><!-- /col -->

  <div class="col-sm-12 col-md-4">
  <h3> All the Reviews </h3>
      <% @comments.each do |comment| %>
        <div class="product-reviews">
          <br>
          <strong><%= comment.user.first_name %></strong>
          <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
          <!-- space -->
          &nbsp;
          <!-- Destroy with admin conditional -->
          <% if signed_in? && current_user.admin? %>
            <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

          <!-- Review Body -->
          <blockquote>
            <p><%= comment.body %></p>
            <br>
            <div class="rated" data-score="<%= comment.rating %>"></div>
          </blockquote>

        </div><!-- /product-reviews -->
      <% end %>

      <!-- View for pagination -->
      <%= will_paginate @comments %>

  </div><!-- /col -->

</div>
