<p id="notice"><%= notice %></p>


  <header class="products-header">
    <h1>Products</h1>
  </header><!--End of contact-header-->

<div class="container product-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-header">Name</th>
        <th class="table-header">Description</th>
        <th class="table-header">Colour</th>
        <th class="table-header">Image url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <!--Goes to the index method of the products controller and takes the instance variable @products where we have assigned all the contents of the product array -->
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.colour %></td>
          <td><%= product.image_url %></td>
          <td><%= link_to 'Show', product, class:"btn btn-info"%></td>
          <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-warning" %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Create New Product', new_product_path, class:"btn btn-default"%>

</div><!--/ container-->
