
<p id="notice"><%= notice %></p>

<div class="container show-product-body">
  <div class="col-sm-12 col-md-6">
    <br>
    <br>
    <h3><%= @product.name %></h3>
    <br>
    <div>
      <%= image_tag(@product.image_url, class: "img-responsive") %>
    </div>
    <br>
    <h4>
      <strong>Price:</strong>
      <%= @product.price %>
    </h4>
    <br>
    <h4>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </h4>
    <br>
    <h4>
      <strong>Description:</strong>
      <%= @product.description %>
    </h4>
    <br>
    <h4><strong>Average Rating:</strong></h4>
    <br>
    <br>
    <p>
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default"%>
    </p>
    <br>
    <p>
      <%= link_to 'Back', products_path, class:"btn btn-default" %>
    </p>
    <br>
    <!-- Highest Rating Comment.
    see the scope in models/product.rb > scope :rating_desc, -> {order(rating: :desc)}
    and the method highest_rating_comment defined inside the models/comment.rb
    -->

  </div><!-- /col -->

  <div class="col-sm-12 col-md-6">

    <!-- Rendering partials -->
    <%= render 'comments' %>
    <%= render 'new_comment'%>

  </div><!-- /col -->

</div><!-- /container-->
