<p id="notice"><%= notice %></p>

<div class="container show-product-body">

  <%= link_to 'Back', products_path, class:"btn btn-default" %>
  <br>
  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <br>

  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default"%>


</div><!-- /container-->
