<!DOCTYPE html>
<html>
  <head>
    <title>Flat Tire Berlin</title>
    <%= csrf_meta_tags %>

    <!--Linking CSS from Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--Linking CSS from local file-->
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <!--Linking Javascript from local file-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

    <!-- Linking Javascript from Bootstrap CDN after we load the local Javascript as the remote requires jquery which is loaded from the local file-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Including the meta tag that allowes the app to act responsively to mobile phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Linking google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <!-- Linking font awesome -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    -->

  </head>

  <body>

    <div id="wrap">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "FLAT TIRE", static_pages_index_path, class: "navbar-brand" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <!--<li class="active"><a href="#">Products<span class="sr-only">(current)</span></a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Products</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </li> -->
            <!-- <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "PRODUCTS", products_path, class: "navigation-link" %></li><!--Instead of <a href="#">Products</a>-->
              <li><%= link_to "ABOUT", static_pages_about_path, class: "navigation-link"%></li> <!--Instead of <a href="#">About</a>-->
              <li><%= link_to "CONTACT", static_pages_contact_path, class: "navigation-link" %></li><!--Instead of <a href="#">Contact</a>-->

              <!-- Sign-in, Login, Logout -->
              <li>
                <% if user_signed_in? %>
                  <%= link_to("Logout", destroy_user_session_path, :method => :delete, class:"login-link") %>
                <% else %>
                  <%= link_to("Login", new_user_session_path, class:"logout-link") %>
                <% end %>
              </li>


              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">dropdown one</a></li>
                  <li><a href="#">dropdown two</a></li>
                  <li><a href="#">dropdown three</a></li>
                </ul>
              </li> -->
            </ul>



            <!-- Search form -->
            <%= form_tag("/products", method: "get", class:"navbar-form navbar-right", role:"search") do %>
                <!--<%= label_tag(:q, "Search for") %> -->
                <%= text_field_tag :q, nil, class:"form-control", placeholder:"Search for..." %>
                <%= submit_tag("Search", class: "btn btn-default") %>
            <% end %>


          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div><!--/wrap-->

    <!-- These two tags display a welcome message when a user signs in -->
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% elsif alert %>
      <p id="alert" class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>

<!--<footer class="footer" id="footer">
      <div class="container">
        <p class="text-muted copyright">&copy; 2016 Bike Berlin GmbH</p>
      </div>
    </footer>
-->
    <footer class="footer-distributed">
      <div class="container">
        <!--
        <div class="social footer-right">
          <a href="https://www.facebook.com/facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/twitter?lang=en"><i class="fa fa-twitter"></i></a>
        </div><!-End of footer right
        -->

        <div class="footer-left">
          <p class="footer-links">
            <%= link_to "Home", static_pages_index_path %>
            <%= link_to "Products", products_path %>
            <%= link_to "About", static_pages_about_path %>
            <%= link_to "Contact", static_pages_contact_path %>
          </p>
          <p>&copy; 2016 Flat Tire GmbH</p>
        </div><!--End of footer left-->

      <div class="footer-margin">
    </footer>

    

  </body>
</html>
